@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model CityObjectModel

@{
    ViewBag.Title = "Create City Object";
}

<h2>Create City Object</h2>

<form asp-action="Create" method="post">
    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Description"></label>
        <textarea asp-for="Description" class="form-control"></textarea>
    </div>
    <div class="form-group">
        <label asp-for="Latitude"></label>
        <input asp-for="Latitude" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Longitude"></label>
        <input asp-for="Longitude" class="form-control" />
    </div>
    <div class="form-group">
        <label for="ObjectTypes">Object Types</label>
        <select id="ObjectTypes" name="selectedObjectTypes" class="form-control" multiple="multiple">
            @foreach (var type in ViewBag.CityObjectTypes as MultiSelectList)
            {
                <option value="@type.Value">@type.Text</option>
            }
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Create</button>
</form>

@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />
    <script>
        $(document).ready(function() {
            $('#ObjectTypes').select2({
                placeholder: "Select object types",
                allowClear: true
            });
        });
    </script>
}